@import Compoment/mixin

li 
  list-style: none


@font-face
  font-family: 'Maven Pro'
  src: url('../fonts/MavenPro-Regular.woff2') format("woff2"), url('../fonts/MavenPro-Regular.woff') format("woff"), url('../fonts/MavenPro-Regular.ttf') format("truetype")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Maven Pro'
  src: url('../fonts/MavenPro-Bold.woff2') format("woff2"), url('../fonts/MavenPro-Bold.woff') format("woff"), url('../fonts/MavenPro-Bold.ttf') format("truetype")
  font-weight: bold
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Maven Pro'
  src: url('../fonts/MavenPro-Medium.woff2') format("woff2"), url('../fonts/MavenPro-Medium.woff') format("woff"), url('../fonts/MavenPro-Medium.ttf') format("truetype")
  font-weight: 500
  font-style: normal
  font-display: swap

* 
  text-decoration: none

body
  margin: 0
  padding: 0
  font-family: 'Maven Pro'

.wrapper 
  margin: 0 auto
  max-width: 95%


      
header
  +gradient("../img/glass.png")


.flex-between
  display: flex
  justify-content: space-between


.light span 
  font-size: 30px
  letter-spacing: 6px
  color: #ffffff
  font-weight: 700
  text-align: center
  padding: 0 0 5px 15px


.light a 
  font-size: 16px
  font-weight: 500
  color: #ffffff
  display: flex
  align-items: flex-end

      
.dark span
  font-size: 30px
  letter-spacing: 6px
  line-height: 29px
  color: #37374a
  font-weight: 700
  text-align: center

.dark a 
  font-size: 16px
  line-height: 19px
  color: #9fa4af
  font-weight: 500

.mini-header
  position: relative


.mini-header a
  position: absolute
  background-color:#fff
  width: 64px
  height: 64px
  border-radius: 32px
  bottom: 0%


.main-header img,
.nav
  margin: 25px 0 0 0

.main-header
  display: flex
  justify-content: space-between



.items-center 
  display: flex
  align-items: center

.karateli
  flex-direction: column


.nav ul 
  display: flex
  gap: 30px


.nav ul 
  padding: 0 30px 0 0 


.karateli h4 
  font-size: 30px
  letter-spacing: -2px
  line-height: 36px
  color: #4f4f6f
  margin: 12.5px 0 19px 0

.karateli p:first-of-type
  position: relative
  font-size: 14px
  letter-spacing: 1px
  line-height: 32px
  text-transform: uppercase
  color: #9fa4af
  margin: 60px 0 0 0 


.karateli p:first-of-type::before
  content: ""
  position: absolute
  background-color: #6e45e2
  width: 25px
  height: 2px
  top: 50%
  left: -50%

.karateli p:first-of-type::after
  content: ""
  position: absolute
  background-color: #6e45e2
  width: 25px
  height: 2px
  top: 50%
  right: -50%



.karateli p 
  font-size: 16px
  line-height: 28px
  color: #9fa4af
  margin: 0

.karateli p:last-of-type
  margin: 0 0 50px 0


.karatelitop a,
.karatelitop p, 
.karatelitop
  display: flex
  justify-content: center
  align-items: baseline

.karatelitop img
  display: block
  margin: 0 auto
  padding-top: 29.5px

.mini-header
  display: flex
  align-items: center
  flex-direction: column



.mini-header p:first-of-type
  padding: 99px 0 0 0


.mapa,
.mapa p,
.mapa h2
  display: flex
  justify-content: center

.mapa a
  align-items: center

.holo 
  position: relative 
  font-size: 14px
  letter-spacing: 1px
  text-transform: uppercase
  color: #ffffff
  padding: 21.5px


.holo::before
  content: ""
  position: absolute
  background-color: #fff
  width: 25px
  height: 2px
  bottom: 6%
  left: -13%

.holo::after
  content: ""
  position: absolute
  background-color: #fff
  width: 25px
  height: 2px
  bottom: 6% 
  right: -13%

.mini-header h3 
  margin: 0
  padding: 9px
  font-size: 61px
  letter-spacing: -3px
  color: #ffffff
  text-align: center

.mini-header p
  font-size: 16px
  color: #ffffff
  text-align: center
  margin: 0
  padding: 9px



.mini-header p:last-of-type
  padding-bottom: 271px



.mini-header a 
  
  margin-bottom: 50px



figure 
  border-radius: 30px
  border: 2px solid #d7dbe8 
  padding: 33px 12.5px


figcaption a
  margin-bottom: 33px


.karatelitop 
  margin: 0 0 120px 0

.personal
  font-size: 14px
  letter-spacing: 1px
  line-height: 32px
  text-transform: uppercase
  color: #9fa4af

.price b 
  position: reletive 
  font-size: 40px
  letter-spacing: -2px
  color: #4f4f6f
  text-align: center
  margin: 0


.currency
  content: ""
  position: absolute
  bottom: -55%
  left: 50%


.mini-header img
  position: absolute
  content: ""
  top: 40%
  left:  39%



.description
  font-size: 16px
  line-height: 28px
  color: #9fa4af
  text-align: center
  padding: 0 20px

.mapa afirst-child
  padding: 0 28px

.map 
  +gradient("../img/map.png")
  width: 100%
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: center
  flex-direction: column



.currency 
  font-size: 16px
  letter-spacing: -1px
  line-height: 51px
  color: #4f4f6f
  

.map a 
  margin-left: 8.5px




.map a 
  margin-bottom: 186px
  
.price span 
  font-size: 16px
  letter-spacing: -1px

.map p 
  font-size: 14px
  letter-spacing: 1px
  text-transform: uppercase
  color: #ffffff
  padding: 128px 0 0 0



.map h2
  font-size: 50px
  letter-spacing: -2px
  color: #ffffff
  text-align: center 
  margin: 24px 0 17px 0


.footer-text
  display: flex
  justify-content: space-between
  align-items: center


.footer-svg 
  display: flex
  justify-content: flex-end
  gap: 8.5px
  margin: 0 25px 0 0

.footer
  opacity: 0.502
  font-size: 14px
  line-height: 19px
  color: #6a6a77
  margin-top: 39px


hr 
  background-color: #bdbdc2
  width: 95%


.light 
  .cta-nav
    +btn(false)
.Onecard
  +btn($fixed: true)

.dark
  .cta-nav
    +btn($empty: true)

.mayipupsiki g:hover,
.mayi g:hover,
.may g:hover,
.mayipebiti g:hover
  fill: #6e45e2


.mayipupsiki path,
.mayi path,
.may path,
.mayipebiti path
  cursor: pointer
  transition: all 0.3s ease-in-out

  

.light li:hover
  transform: scale(1)
  border: none
  border-bottom: 2px solid #fff




// .light ul:hover
//   transform: scale(2)
//   border: none
//   border-bottom: 2px solid #fff