@import Compoment/mixin

li 
  list-style: none


@font-face
  font-family: 'Maven Pro'
  src: url('../fonts/MavenPro-Regular.woff2') format("woff2"), url('../fonts/MavenPro-Regular.woff') format("woff"), url('../fonts/MavenPro-Regular.ttf') format("truetype")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Maven Pro'
  src: url('../fonts/MavenPro-Bold.woff2') format("woff2"), url('../fonts/MavenPro-Bold.woff') format("woff"), url('../fonts/MavenPro-Bold.ttf') format("truetype")
  font-weight: bold
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Maven Pro'
  src: url('../fonts/MavenPro-Medium.woff2') format("woff2"), url('../fonts/MavenPro-Medium.woff') format("woff"), url('../fonts/MavenPro-Medium.ttf') format("truetype")
  font-weight: 500
  font-style: normal
  font-display: swap


body
  margin: 0
  padding: 0
  font-family: 'Maven Pro'

.wrapper 
  margin: 0 auto
  max-width: 1550px


      
header
  +gradient("../img/glass.png")


.flex-between
  display: flex
  justify-content: space-between


.main-header
  display: flex
  justify-content: space-between


.items-center 
  display: flex
  align-items: center

.karateli
  flex-direction: column

.karatelitop a,
.karatelitop p, 
.karatelitop
  display: flex
  justify-content: center

.karatelitop img
  padding-left: 113px

.mini-header
  display: flex
  align-items: center
  flex-direction: column


.mapa,
.mapa p
  display: flex
  justify-content: center

.holo 
  
  font-size: 14px
  letter-spacing: 1px
  text-transform: uppercase
  color: #ffffff
  padding: 21.5px

.mini-header h3 
  margin: 0
  padding: 9px
  font-size: 61px
  letter-spacing: -3px
  color: #ffffff
  text-align: center

.mini-header p
  font-size: 16px
  color: #ffffff
  text-align: center
  margin: 0
  padding: 9px



.mini-header a 
  margin-top: 181px
  margin-bottom: 50px



figure 
  border-radius: 30px
  border: 2px solid #d7dbe8 

.light 
  .cta-nav
    +btn(false)
.light
  .Onecard
    +btn(true)

