doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap", rel="stylesheet")
        link(rel="stylesheet", href="css/styles.css")
        title Misocial - Pricing Table 
    body
        include compoment/mixin
        header
                .main-header.wrapper
                    +menu(mainMenu)
                .mini-header.wrapper
                    p.holo -- SOCIAL MARKETING & ANALYTICS --
                    h3 Pricing Table
                    p Lorem ipsum dolor sit amet, consectetur adipisicing 
                    p elit, sed do eiusmod tempor incididunt ut.
                    a(href="#") 
                        img(src="img/arrow.svg", alt="#")
        main
            .karateli.flex-between.items-center.gap
                p -- MIsocial --
                h4 Select a Plan
                p Lorem ipsum dolor sit amet, consectetur adipisicing 
                p elit, sed do eiusmod tempor incididunt ut.
            .karatelitop.flex-between.items-center
                +card(Cardinfo.satelite)
                +card(CardInfo.satelite)
                +card(cardinfo.satelite)
        footer
            .mapa
                .map
                    .wrapper
                        p SOCAL MARKETING & ANALYTICS
                        h2 Take control of your data
                    .myprime 
                        a.Onecard(href="#") Get started
                        a.Onecard(href="#") explore features


            .main-header.wrapper
                +menu(mainMenu, "dark")
        .div(class="footer")
            .wrapper 

                .footer-text    
                    p © 2017 Mass Impressions & Tranmautritam. Make the right impression.
                    .footer-svg  
                        <svg class="may" fill="#6a6a77" width="24px" height="24px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M21.95 5.005l-3.306-.004c-3.206 0-5.277 2.124-5.277 5.415v2.495H10.05v4.515h3.317l-.004 9.575h4.641l.004-9.575h3.806l-.003-4.514h-3.803v-2.117c0-1.018.241-1.533 1.566-1.533l2.366-.001.01-4.256z"></path></g></svg> <svg class="mayi" width="16px" height="16px" fill="#6a6a77" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" stroke="#6a6a77"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="7935ec95c421cee6d86eb22ecd12f847"> <path style="display: inline;" d="M459.186,151.787c0.203,4.501,0.305,9.023,0.305,13.565 c0,138.542-105.461,298.285-298.274,298.285c-59.209,0-114.322-17.357-160.716-47.104c8.212,0.973,16.546,1.47,25.012,1.47 c49.121,0,94.318-16.759,130.209-44.884c-45.887-0.841-84.596-31.154-97.938-72.804c6.408,1.227,12.968,1.886,19.73,1.886 c9.55,0,18.816-1.287,27.617-3.68c-47.955-9.633-84.1-52.001-84.1-102.795c0-0.446,0-0.882,0.011-1.318 c14.133,7.847,30.294,12.562,47.488,13.109c-28.134-18.796-46.637-50.885-46.637-87.262c0-19.212,5.16-37.218,14.193-52.7 c51.707,63.426,128.941,105.156,216.072,109.536c-1.784-7.675-2.718-15.674-2.718-23.896c0-57.891,46.941-104.832,104.832-104.832 c30.173,0,57.404,12.734,76.525,33.102c23.887-4.694,46.313-13.423,66.569-25.438c-7.827,24.485-24.434,45.025-46.089,58.002 c21.209-2.535,41.426-8.171,60.222-16.505C497.448,118.542,479.666,137.004,459.186,151.787z"> </path> </g> </g></svg><svg class="mayipupsiki" width="16px" height="16px" viewBox="0 -4 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#6a6a77"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>google_plus [#6a6a77]</title> <desc>Created with Sketch.</desc> <defs> </defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Dribbble-Light-Preview" transform="translate(-420.000000, -7443.000000)" fill="#6a6a77"> <g id="icons" transform="translate(56.000000, 160.000000)"> <path d="M382,7287.70673 L382,7285.82629 L380,7285.82629 L380,7287.70673 L378,7287.70673 L378,7289.58717 L380,7289.58717 L380,7291.4676 L382,7291.4676 L382,7289.58717 L384,7289.58717 L384,7287.70673 L382,7287.70673 Z M376.4,7287.70673 C376.454,7287.70673 376.5,7288.5266 376.5,7288.92055 C376.5,7292.34671 374.058,7295 370.377,7295 C366.852,7295 364,7292.31568 364,7289.00141 C364,7285.6862 366.852,7283 370.377,7283 C372.099,7283 373.539,7283.58105 374.65,7284.55794 L372.919,7286.10648 C372.446,7285.67774 371.616,7285.14276 370.377,7285.14276 C368.2,7285.14276 366.423,7286.76087 366.423,7288.85098 C366.423,7290.94108 368.2,7292.48304 370.377,7292.48304 C372.901,7292.48304 373.849,7290.52738 373.994,7289.58717 L370,7289.58717 L370,7287.70673 L376.4,7287.70673 Z" id="google_plus-[#6a6a77]"> </path> </g> </g> </g> </g></svg><svg class="mayipebiti" width="16px" height="16px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#6a6a77"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>instagram [#6a6a77]</title> <desc>Created with Sketch.</desc> <defs> </defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Dribbble-Light-Preview" transform="translate(-340.000000, -7439.000000)" fill="#6a6a77"> <g id="icons" transform="translate(56.000000, 160.000000)"> <path d="M289.869652,7279.12273 C288.241769,7279.19618 286.830805,7279.5942 285.691486,7280.72871 C284.548187,7281.86918 284.155147,7283.28558 284.081514,7284.89653 C284.035742,7285.90201 283.768077,7293.49818 284.544207,7295.49028 C285.067597,7296.83422 286.098457,7297.86749 287.454694,7298.39256 C288.087538,7298.63872 288.809936,7298.80547 289.869652,7298.85411 C298.730467,7299.25511 302.015089,7299.03674 303.400182,7295.49028 C303.645956,7294.859 303.815113,7294.1374 303.86188,7293.08031 C304.26686,7284.19677 303.796207,7282.27117 302.251908,7280.72871 C301.027016,7279.50685 299.5862,7278.67508 289.869652,7279.12273 M289.951245,7297.06748 C288.981083,7297.0238 288.454707,7296.86201 288.103459,7296.72603 C287.219865,7296.3826 286.556174,7295.72155 286.214876,7294.84312 C285.623823,7293.32944 285.819846,7286.14023 285.872583,7284.97693 C285.924325,7283.83745 286.155174,7282.79624 286.959165,7281.99226 C287.954203,7280.99968 289.239792,7280.51332 297.993144,7280.90837 C299.135448,7280.95998 300.179243,7281.19026 300.985224,7281.99226 C301.980262,7282.98483 302.473801,7284.28014 302.071806,7292.99991 C302.028024,7293.96767 301.865833,7294.49274 301.729513,7294.84312 C300.829003,7297.15085 298.757333,7297.47145 289.951245,7297.06748 M298.089663,7283.68956 C298.089663,7284.34665 298.623998,7284.88065 299.283709,7284.88065 C299.943419,7284.88065 300.47875,7284.34665 300.47875,7283.68956 C300.47875,7283.03248 299.943419,7282.49847 299.283709,7282.49847 C298.623998,7282.49847 298.089663,7283.03248 298.089663,7283.68956 M288.862673,7288.98792 C288.862673,7291.80286 291.150266,7294.08479 293.972194,7294.08479 C296.794123,7294.08479 299.081716,7291.80286 299.081716,7288.98792 C299.081716,7286.17298 296.794123,7283.89205 293.972194,7283.89205 C291.150266,7283.89205 288.862673,7286.17298 288.862673,7288.98792 M290.655732,7288.98792 C290.655732,7287.16159 292.140329,7285.67967 293.972194,7285.67967 C295.80406,7285.67967 297.288657,7287.16159 297.288657,7288.98792 C297.288657,7290.81525 295.80406,7292.29716 293.972194,7292.29716 C292.140329,7292.29716 290.655732,7290.81525 290.655732,7288.98792" id="instagram-[#6a6a77]"> </path> </g> </g> </g> </g></svg>  